<ion-header [translucent]="true">
   <ion-toolbar color="primary">
      <ion-title>
         Usuários
      </ion-title>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-item *ngFor="let user of usersList" lines="none" [routerLink]="'/exibir-usuario/' + user.id">
      <ion-thumbnail slot="start">
         <img [src]="user.avatar">
      </ion-thumbnail>

      <div>
         <h4>{{user.first_name + ' ' + user.last_name }} </h4>
         <p>{{user.email}} </p>
      </div>

      <ion-badge color="success" slot="end">{{'#' + user.id}}</ion-badge>
   </ion-item>
</ion-content>

<ion-footer>
   <ion-toolbar color="secundary">
      <ion-buttons slot="start" *ngIf="page > 1">
         <ion-button (click)="findUsers(page - 1)">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
         </ion-button>
      </ion-buttons>

      Página: {{page}}

      <ion-buttons slot="end" *ngIf="page < totalPages">
         <ion-button (click)="findUsers(page + 1)">
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
         </ion-button>
      </ion-buttons>
   </ion-toolbar>
</ion-footer>